html {
  background-color: #f0ffff;
  font-family: "Quicksand";
}

div {
  margin: .5em auto;
  background-color: #e6e6fa;
  padding: 0.5em;
  left: -.5em;
}

.full_screen {
  width: 100%;
}
.divInContainer{
  width: 100%;
  text-align: center;
}
.footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#centered h1 {
  color: #9400d3;
  text-align: center;
}

h1, h2 {
  color: #9400d3;
}

.rainbow {
  background: linear-gradient(to right, violet, #9400d3,violet, #9400d3, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    text-align: center;
}

.smallRainbow {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
}

.mediumRainbow {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}

.purple {
  color: #9400d3;
}

.blue {
  color: RGB(50,0,240);
}
.red {
  color: red;
}
.transparent {
  color: #e6e6fa
}

.Quicksand {
  font-family: "Quicksand";
}

header {
  color: #9400d3;
  font-size: 3em;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
}

#menu i {
  padding: 1%;
  margin-right: 2%;
  display: inline-block;
  background-color: #9400d3;
  color: #e6e6fa;
}

#menu a i, #menu i {
  border-radius: 50%;
}

#profile {
  display: block;
  border-radius: 50%;
  position: relative;
  margin-top: -3em;
  margin-left: 2em;
}

#profile_text {
  position: relative;
  margin-top: 2em;
  margin-left: 4.5em;
  left: -33em;
  display: inline;
}
#profile_text2 {
  position: absolute;
  left: 5em;
  margin-top: -2em;
  font-size: .75em;
}
#profile_text3 {
  position: absolute;
  margin-top: -2em;
  font-size: .75em;
  left: 70em;
}
#profile_text_Trass {
  position: absolute;
  margin-top: -2em;
  font-size: .75em;
  left: 96.5em;
}
#profile_text_handwire {
  position: absolute;
  margin-top: -2%;
  font-size: .78em;
  left: 95em;
}
#profile_text4 {
  position: absolute;
  margin-top: -2%;
  padding-left: 2%;
}
#profile_text5 {
  position: absolute;
  display: inline-block;
  margin-top: -2%;
  left:0;
  padding-left: 2.5%;
}
#portfolio_text {
  position: relative;
  left: 12em;
  margin-top: -2%;
  font-size: .75em;
  display: inline-block;
}
#portfolio_text2 {
  position: relative;
  left: 94.5em;
  margin-top: -2%;
  font-size: .75em;
  display: inline-block;
}
#portfolio_desc {
  position: relative;
  bottom: 18em;
  margin-right: 2%;
}
#portfolio_desc2 {
  position: relative;
  bottom: 18em;
  margin-right: 1%;
}
#galleryDiv {
  text-align: center;
}

#hook {
  position: relative;
  left: 24em;
  font-size: 1em;
}
#hook1 {
  position: relative;
  left: 24em;
  font-size: 1em;
  text-align: left;
}
#hook2 {
  display: inline;
  position: relative;
  left: 0;
  top: -24em;
  font-size: 1em;
  padding: 1%;
  text-align: center;
}

#lilacmilk {
  height: 19em;
  margin-left: auto;
}
#artisanPics {
  position: relative;
  height: 19em;
}
#artisanPicsSP {
  position: relative;
  height: 13em;
}
#portfolioPics {
  position: relative;
  height: 30em;
  display: inline-block;
  margin: 0 auto;
}
#neri_pics {
  position: relative;
  height: 19.35em;
}
#mangaPics {
  position: relative;
  height: 40em;
  margin: auto;
}
#realPhotos {
  position: relative;
  height: 38em;
}
#keybored {
  position: relative;
  height: 19em;
}
#keebs {
  position: relative;
  width: 98%;
}
#keyboard_desc {
  position: relative;
  bottom: 18em;
}
#keyboard_desc2 {
  position: absolute;
  left: 0;
  text-align: left;

}
#keyboard_desc3 {
  position: absolute;
  left: 0;
  margin: 0 auto;
  text-align: left;
}

.right { text-align: right;}
.left {text-align: left;}
.center {text-align: center;}

.hidden{
  display: none;
}

.visible{
  display:block;
}
